.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 41px;
  margin: 0;
  padding-bottom: 41px;
  padding-top: 45px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 36.35px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  margin: 0;
}

.header__list {
  list-style-type: none;
  align-items: center;
}

.header__email {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
  text-align: right;
  color: #ffffff;
}

.header__link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link:hover {
  opacity: 0.6;
}

.header__hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__email {
    display: none;
  }

  .header__link_type_logout {
    display: none;
  }

  .header__hamburger {
    display: block;
    width: 24px;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
  }

  .header__close_icon {
    width: 30px;
    height: 30px;
  }

  .header__hamburger:hover {
    opacity: 0.6;
  }

  .header__hamburger-line {
    border: none;
    height: 3px;
    background: white;
    width: 24px;
    margin-bottom: 9px;
  }

  .header__hamburger-line:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 590px) {
  .header {
    margin-bottom: 32px;
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .header__menu {
    padding: 0;
  }

  .header__link {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }

  .header__hamburger {
    margin-right: 30px;
  }
}
