.info__container {
  width: 430px;
  height: 330px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.info__img {
  width: 120px;
  height: 120px;
  margin: 0;
}

.info__title {
  max-width: 358px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.813rem;
  margin-top: 32px;
  margin-bottom: 0;
}

.info__button-closed {
  position: absolute;
  top: 0px;
  right: -40px;
}
